<br>
<br>
<label class="welcome">Welcome</label>
<i class="fa fa-user-o logout" aria-hidden="true" (click)="this.loginService.logout()" style="cursor: pointer;" placement="top"
  ngbTooltip="Click to logout"></i>
<label class="logout-text" (click)="this.loginService.logout()" style="cursor: pointer;" placement="top" ngbTooltip="Click to logout">Logout</label>
<br>
<br>
<br>
<div class="row">
  <input class="inputStyle col-sm-3" type="text" [(ngModel)]="this.shipmentsService.shipmentNumber" placeholder="Enter the shipment number you are looking for">
  <button type="button" class="btn btn-info look" (click)="this.shipmentsService.getShipmentByShipmentNumber(this.shipmentsService.shipmentNumber)">Search</button>
  <button [ngbCollapse]="this.shipmentsService.wrongStatusOfShipmentById" class="warning alert alert-danger">Ther is no given Shipment Number</button>
  <button type="button" class="btn btn-info look" (click)="this.shipmentsService.getShipments(30, 0)">Load all</button>
</div>
<div class="row">
  <input class="inputStyle col-sm-3" type="text" [(ngModel)]="this.shipmentsService.searchWord" placeholder="Enter the name or place you are looking for - minimum 3 letters">
  <button *ngIf="this.shipmentsService.searchWord.trim().length>=3" type="button" class="btn btn-info look" (click)="this.shipmentsService.getShipmentByWordSearch(this.shipmentsService.searchWord)">Search</button>
  <button [ngbCollapse]="this.shipmentsService.wrongStatusOfShipmentByWord" class="warning alert alert-danger">Ther is no given name or place</button>
</div>
<br>
<br>


<div>


  <div class="row">

    <table class="table-striped table-bordered tableStyle center">
      <thead>
        <tr class="table-active">
          <th class="ths" style="width: 5%">
            Unloading Date
            <div ngbDropdown class="d-inline-block" autoClose="outside">
              <i class="fa fa-fw" id="dropdownBasic7" ngbDropdownToggle></i>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic7">
                <label for="startUnloading">Start Date:</label>
                <input type="date" placeholder="Start Date" id="startUnloading" class="form-control" [(ngModel)]="this.sortService.startUnloading" (change)="this.sortService.chooseDate()">
                <label for="endUnloading">End Date:</label>
                <input type="date" placeholder="End Date" id="endUnloading" class="form-control" [(ngModel)]="this.sortService.endUnloading" (change)="this.sortService.chooseDate()">
              </div>
            </div>
          </th>
          <th class="ths" style="width: 5%">Loading Date
            <div ngbDropdown class="d-inline-block" autoClose="outside">
              <i class="fa fa-fw" id="dropdownBasic6" ngbDropdownToggle></i>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic6">
                <label for="startLoading">Start Date:</label>
                <input type="date" placeholder="Start Date" id="startLoading" class="form-control" [(ngModel)]="this.sortService.startLoading" (change)="this.sortService.chooseDate(this.sortService.startLoading)">
                <label for="endLoading">End Date:</label>
                <input type="date" placeholder="End Date" id="endLoading" class="form-control" [(ngModel)]="this.sortService.endLoading" (change)="this.sortService.chooseDate(this.sortService.endLoading)">
              </div>
            </div>
          </th>

          <th class="ths" style="width: 4%">Doc. No.</th>
          <th class="ths" style="width: 4%">Ship. No.</th>
          <th class="ths" style="width: 5%">Sales Order</th>
          <th class="ths" style="width: 5%">Weight in kg</th>
          <th class="ths" style="width: 5%">Quantity in ltr</th>
          <th class="boldUpper ths" style="width: 15%">Name
            <div ngbDropdown class="d-inline-block" autoClose="outside">
              <i class="fa fa-fw" id="dropdownBasic4" ngbDropdownToggle></i>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic4">
                <div>
                  <input type="text" id="name" [(ngModel)]="this.sortService.name" placeholder="Name" (change)="this.sortService.chooseName()">
                </div>
              </div>
            </div>
          </th>
          <th class="boldUpper ths" style="width: 15%">Place of Delivery
            <div ngbDropdown class="d-inline-block" autoClose="outside">
              <i class="fa fa-fw" id="dropdownBasic5" ngbDropdownToggle></i>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic5">
                <div>
                  <input type="text" id="place" [(ngModel)]="this.sortService.place" placeholder="Place" (change)="this.sortService.choosePlace()">
                </div>
              </div>
            </div>
          </th>
          <th class="ths" style="width: 5%">Customs office
            <div ngbDropdown class="d-inline-block" autoClose="outside">
              <i class="fa fa-fw" id="dropdownBasic1" ngbDropdownToggle></i>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <div clas="row">
                  <input type="checkbox" id="none" (change)="this.sortService.chooseType('none')">
                  <label for="none">none</label>
                </div>
                <div clas="row">
                  <input type="checkbox" id="paper" (change)="this.sortService.chooseType('paper')">
                  <label for="paper">paper</label>
                </div>
                <div clas="row">
                  <input type="checkbox" id="oral" (change)="this.sortService.chooseType('oral')">
                  <label for="oral">oral</label>
                </div>
              </div>
            </div>
          </th>
          <th class="ths" style="width: 6%">Customers
            <div ngbDropdown class="d-inline-block" autoClose="outside">
              <i class="fa fa-fw" id="dropdownBasic2" ngbDropdownToggle></i>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                <div clas="row">
                  <input type="checkbox" id="buk" (change)="this.sortService.chooseCustomer('buk')">
                  <label for="buk">buk</label>
                </div>
                <div clas="row">
                  <input type="checkbox" id="csd de" (change)="this.sortService.chooseCustomer('csd de')">
                  <label for="csd de">csd de</label>
                </div>
                <div clas="row">
                  <input type="checkbox" id="csd pl" (change)="this.sortService.chooseCustomer('csd pl')">
                  <label for="csd pl">csd pl</label>
                </div>
                <div clas="row">
                  <input type="checkbox" id="ludo" (change)="this.sortService.chooseCustomer('ludo')">
                  <label for="ludo">ludo</label>
                </div>
                <div clas="row">
                  <input type="checkbox" id="spedition-timocom" (change)="this.sortService.chooseCustomer('spedition-timocom')">
                  <label for="spedition-timocom">spedition-timocom</label>
                </div>
                <div clas="row">
                  <input type="checkbox" id="mazury-trans" (change)="this.sortService.chooseCustomer('mazury-trans')">
                  <label for="mazury-trans">mazury-trans</label>
                </div>
                <div clas="row">
                  <input type="checkbox" id="marceli" (change)="this.sortService.chooseCustomer('marceli')">
                  <label for="marceli">marceli</label>
                </div>
              </div>
            </div>
          </th>
          <!-- <th class="ths" style="width: 5%">Duty No.</th> -->
          <th class="ths" style="width: 6%">Docs</th>
          <th class="ths" style="width: 3%">Edit</th>
          <th class="ths" style="width: 8%">Drivers Names
            <div ngbDropdown class="d-inline-block" autoClose="outside">
              <i class="fa fa-fw" id="dropdownBasic3" ngbDropdownToggle></i>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                <div clas="row">
                  <input type="checkbox" id="Włodzimierz Fertyk" (change)="this.sortService.chooseDriver('włodzimierz fertyk')">
                  <label for="Włodzimierz Fertyk">Włodzimierz Fertyk</label>
                </div>
                <div clas="row">
                  <input type="checkbox" id="Mirosław Tecław" (change)="this.sortService.chooseDriver('mirosław tecław')">
                  <label for="Mirosław Tecław">Mirosław Tecław</label>
                </div>
                <div clas="row">
                  <input type="checkbox" id="Leszek Tecław" (change)="this.sortService.chooseDriver('leszek tecław')">
                  <label for="Leszek Tecław">Leszek Tecław</label>
                </div>
                <div clas="row">
                  <input type="checkbox" id="Krzysiek Chojnacki" (change)="this.sortService.chooseDriver('krzysiek chojnacki')">
                  <label for="Krzysiek Chojnacki">Krzysiek Chojnacki</label>
                </div>
                <div clas="row">
                  <input type="checkbox" id="Adam Ciechański" (change)="this.sortService.chooseDriver('adam ciechański')">
                  <label for="Adam Ciechański">Adam Ciechański</label>
                </div>
                <div clas="row">
                  <input type="checkbox" id="Paweł Plewiński" (change)="this.sortService.chooseDriver('paweł plewiński')">
                  <label for="Paweł Plewiński">Paweł Plewiński</label>
                </div>
                <div clas="row">
                  <input type="checkbox" id="Adam Wilczyński" (change)="this.sortService.chooseDriver('adam wilczyński')">
                  <label for="Adam Wilczyński">Adam Wilczyński</label>
                </div>
                <div clas="row">
                  <input type="checkbox" id="Tomasz Czekała" (change)="this.sortService.chooseDriver('tomasz czekała')">
                  <label for="Tomasz Czekała">Tomasz Czekała</label>
                </div>
              </div>
            </div>
          </th>
          <th class="ths" style="width: 3%">Del</th>
          <th class="ths" style="width: 3%">Invoice</th>
        </tr>
      </thead>
      <tbody *ngIf="this.shipmentsService.shipmentsList !== null">
        <tr *ngFor="let shipment of this.shipmentsService.shipmentsList; let i = index">
          <td class="ths">{{this.dateService.dateFormatForPost(shipment.unloadingDate)}}</td>
          <td class="ths">{{this.dateService.dateFormatForPost(shipment.loadingDate)}}</td>
          <td class="ths">{{shipment.documentNumber}}</td>
          <td class="ths">{{shipment.shipmentNumber}}</td>
          <td class="ths">{{shipment.salesOrder}}</td>
          <td class="ths" *ngIf="shipment.weightKg !== 0">{{shipment.weightKg}}</td>
          <td class="ths" *ngIf="shipment.weightKg == 0"></td>
          <td class="ths" *ngIf="shipment.capacityLtr !== 0">{{shipment.capacityLtr}}</td>
          <td class="ths" *ngIf="shipment.capacityLtr == 0"></td>
          <td class="ths leftBold">{{shipment.name}}</td>
          <td class="ths left">{{shipment.place}}</td>
          <td class="ths">{{shipment.dutyShipment.dutyType}}</td>
          <td class="ths">
            <label *ngFor="let customer of shipment.customers" label>{{customer.customerName}},&nbsp;</label>
          </td>
          <!-- <td class="ths">{{shipment.dutyShipmentNumber}}</td> -->
          <td class="ths">
            <i *ngFor="let scan of shipment.scanLinks" class="pdf fa fa-file-pdf-o fa-2x" aria-hidden="true" (click)="this.scanService.downloadFileService(scan)"
              style="cursor: pointer;" placement="top" ngbTooltip="Click to download"></i>
          </td>
          <td class="ths">
            <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" (click)="goToEdit(i)" style="cursor: pointer;" ngbTooltip="Click to edit"></i>
            <!-- <button  class="btn btn-info btn-sm" (click)="goToEdit(i)">Edit</button> -->
          </td>
          <td class="ths">
            <label *ngFor="let driver of shipment.drivers">{{driver.driverName}},&nbsp;</label>
          </td>
          <td class="ths">
            <!-- <button class="btn btn-info" (click)="this.shipmentsService.deleteShipmentById(shipment.id)">Delete</button> -->
            <i class="pdf fa fa-trash fa-lg" aria-hidden="true" (click)="open(content)" style="cursor: pointer;" ngbTooltip="Click to delete"></i>
            <ng-template #content let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title">Are you sure to delete this item?</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="this.shipmentsService.deleteShipmentById(shipment.id)" (click)="c('Close click')">Delete</button>
              </div>
            </ng-template>
          </td>
          <td class="ths">
            <i class="fa fa-check fa-lg" aria-hidden="true" *ngIf="shipment.invoice==true"></i>
          </td>


        </tr>
      </tbody>
    </table>


  </div>
  <div>
    <ngb-pagination class="pagnitation-left" [(collectionSize)]="this.sortService.collectionSize" [(page)]="this.sortService.page"
      [maxSize]="10" [(pageSize)]="this.sortService.pageSize" size="sm" [boundaryLinks]="true" (pageChange)="this.sortService.sortShipments(30, this.sortService.page)"></ngb-pagination>
  </div>
  <div *ngIf="this.shipmentsService.pagnitationView">
    <ngb-pagination class="pagnitation" [(collectionSize)]="this.shipmentsService.collectionSize" [(page)]="this.shipmentsService.page"
      [maxSize]="10" [(pageSize)]="this.shipmentsService.pageSize" size="sm" [boundaryLinks]="true" (pageChange)="this.shipmentsService.getShipments(30, this.shipmentsService.page)"></ngb-pagination>
  </div>

</div>