<br>
<br>
<label class="welcome">Welcome</label>
<button (click)="goBack()" class="btn btn-outline-primary">Go back to main menu</button>
<i class="fa fa-user-o logout" aria-hidden="true" (click)="this.loginService.logout()" style="cursor: pointer;" placement="top"
  ngbTooltip="Click to logout"></i>
<label class="logout-text" (click)="this.loginService.logout()" style="cursor: pointer;" placement="top" ngbTooltip="Click to logout">Logout</label>
<br>
<br>
<br>




<form class="container" [formGroup]="editShipmentForm" [ngbCollapse]="statusOfEditing">
  <div class="row">
    <div class="col-md-2">
      <label for="loadingDate">Loading Date:</label>
      <input type="date" placeholder="Contract Start Date" formControlName="loadingDate" id="loadingDate" class="form-control">
    </div>
    <div class="col-md-2">
      <label for="unloadingDate">Unloading Date:</label>
      <input type="date" placeholder="Contract End Date" formControlName="unloadingDate" id="unloadingDate" class="form-control">
    </div>
    <div class="col-md-2">
      <label for="drivers">Choose driver:</label>
      <select formControlName="drivers" class="form-control" placeholder="Choose driver" (change)="addNextDriver()">
        <option *ngFor="let name of this.getDriverService.driversList" value="{{this.getDriverService.driversList.indexOf(name)+1}}">{{name}}</option>
      </select>

    </div>
    <div class="col-md-2">
      <label for="drivers">Added drivers:</label>
      <ol>
        <li *ngFor="let driver of drivers">
          <button class="btn btn-outline-primary btn-sm" (click)="deleteDriver(drivers.indexOf(driver))">Del</button>{{this.getDriverService.driversList[driver.id-1]}}
        </li>
      </ol>
    </div>
    <div class="col-md-2">
      <label for="customers">Choose customer:</label>
      <select formControlName="customers" class="form-control" (change)="addNextCustomer()">
        <option *ngFor="let name of this.getDriverService.customersList" value="{{this.getDriverService.customersList.indexOf(name)+1}}">{{name}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="customers">Added customers:</label>
      <ol>
        <li *ngFor="let customer of customers">

          <button class="btn btn-outline-primary btn-sm" (click)="deleteCustomer(customers.indexOf(customer))">Delete</button>{{this.getDriverService.customersList[customer.id-1]}}
        </li>
      </ol>
    </div>

  </div>
  <div class="row">
    <div class="col-md-2">
      <label for="documentNumber">Document No.:</label>
      <input type="number" placeholder="Document No." formControlName="documentNumber" id="documentNumber" class="form-control">
    </div>
    <div class="col-md-2">
      <label for="shipmentNumber">Shipment No.:</label>
      <input type="text" placeholder="Shipment No." formControlName="shipmentNumber" id="shipmentNumber" class="form-control">
      <div class="alert alert-danger" *ngIf="!editShipmentForm.controls['shipmentNumber'].valid">
        Must be filled</div>
    </div>
    <div class="col-md-2">
      <label for="salesOrder">Sales order :</label>
      <input type="text" placeholder="Sales order" formControlName="salesOrder" id="salesOrder" class="form-control">
    </div>
    <div class="col-md-2">
      <label for="weightKg">Weight in kg:</label>
      <input type="number" placeholder="Weight in kg" formControlName="weightKg" id="weightKg" class="form-control">
    </div>
    <div class="col-md-2">
      <label for="capacityLtr">Quantity:</label>
      <input type="number" placeholder="Quantity" formControlName="capacityLtr" id="capacityLtr" class="form-control">
    </div>
    <div class="col-md-2">
      <label for="customers">Added documents:</label>
      <ol>
        <li *ngFor="let scanLink of links">

          <button class="btn btn-outline-primary" (click)="deleteScanLink(links.indexOf(scanLink))">Delete</button>
          <i class="pdf fa fa-file-pdf-o fa-2x" aria-hidden="true" (click)="this.scanService.downloadFileService(scanLink)" style="cursor: pointer;"
            placement="top" ngbTooltip="Click to download"></i>
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label for="name">Name:</label>
      <input type="text" placeholder="Name" formControlName="name" class="form-control" id="name">
    </div>
    <div class="col-md-3">
      <label for="place">Place of Delivery:</label>
      <select formControlName="place" class="form-control">
        <option value="DE Kiel - ShipStores Canal"> DE Kiel - ShipStores Canal</option>
        <option value="Gryfia S/Y Szczecin">Gryfia S/Y Szczecin</option>
        <option value="DE Hamburg / CTA">DE Hamburg / CTA</option>
        <option value="DE Hamburg / CTB">DE Hamburg / CTB</option>
        <option value="DE Hamburg / Eurogate">DE Hamburg / Eurogate</option>
        <option value="DE Brunsbüttel">DE Brunsbüttel</option>
        <option value="DE Hamburg / Süd-West-Terminal">DE Hamburg / Süd-West-Terminal</option>
        <option value="DE Hamburg / Hansaport">DE Hamburg / Hansaport</option>
        <option value="DE Hamburg">DE Hamburg</option>
        <option value="DE Cuxhaven">DE Cuxhaven</option>
        <option value="DE Bremerhaven / Eurogate">DE Bremerhaven / Eurogate</option>
        <option value="DE Bremerhaven / NTB">DE Bremerhaven / NTB</option>
        <option value="DE Wilhelmshaven">DE Wilhelmshaven</option>
      </select>
      <input type="text" placeholder="Place of Delivery" formControlName="place" id="place" class="form-control">
    </div>
    <div class="col-md-2">
      <label for="dutyShipment">Customs office:</label>
      <select formControlName="dutyShipment" class="form-control" (change)="addCustomsOffice()">
        <option selected="selected" default type="number" value=1>None</option>
        <option value=2>Oral</option>
        <option value=3>Paper</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="dutyShipmentNumber">Duty shipment No.:</label>
      <input type="text" placeholder="Duty shipment No." formControlName="dutyShipmentNumber" id="dutyShipmentNumber" class="form-control">
    </div>
    <div class="col-md-2">
        <label>Invoice:</label>
        <br/>
      <input class="form-check-input" type="checkbox" value="true" formControlName="invoice">
      <label for="invoice"> Invoice sent</label>
    </div>
  </div>
  <div class="row">
  </div>
  <div class="row">
    <div class="col-md-4">
      <label for="uploader">Add document:</label>
      <input type="file" ng2FileSelect [uploader]="uploader" />
    </div>
    <div class="col-md-6">
      <label>Documents queue</label>
      <p>Queue length: {{ uploader?.queue?.length }}</p>
      <table class="table">
        <thead>
          <tr>
            <th width="50%">Name</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td>
              <strong>{{ item?.file?.name }}</strong>
            </td>
            <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
            <td *ngIf="uploader.isHTML5">
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>
            <td class="text-center">
              <span *ngIf="item.isSuccess == false">Not addded</span>
              <span *ngIf="item.isSuccess">Added
                <i class="glyphicon glyphicon-ok"></i>
              </span>
              <span *ngIf="item.isCancel">Cancel
                <i class="glyphicon glyphicon-ban-circle"></i>
              </span>
              <span *ngIf="item.isError">Error
                <i class="glyphicon glyphicon-remove"></i>
              </span>
            </td>
            <td nowrap>
              <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Upload
              </button>

              <button *ngIf="item.isSuccess == false" type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
   

  </div>
</form>
<div class="container">
  <div class="row" [ngbCollapse]="statusOfEditing">
    <div class="col-md-2">
      <br>
      <input type="submit" (click)="editShipment()" [disabled]="!editShipmentForm.valid" value="Edit Shipment" class="btn btn-outline-primary">
      <label *ngIf="information!=null" class="alert alert-danger" role="alert">{{information}}</label>
      <br>
    </div>
  </div>
  <div [ngbCollapse]="!statusOfEditing">
    <button (click)="goBack()" [disabled]="!editShipmentForm.valid" class="btn btn-outline-primary">Go back to main menu</button>
    <label class="alert alert-success" role="alert">{{information}}</label>
  </div>