<ngb-carousel>
  <ng-template ngbSlide>
    <img style="width: 100%; height: auto" src="../../assets/images/port-min.jpg">
    <div class="carousel-caption ca">
      <div id="logo" class="photo col-sm-3">
        <img class="imgsvg" src="../../assets/images/logotyp_plewinski.svg">
      </div>
      <div [ngbCollapse]="this.loginService.warning">
        <label class="alert alert-danger col-sm-3">Please correct login or password</label>
      </div>
      <div>
        <input class="txtfield col-sm-3" type="text" [(ngModel)]="this.loginService.userName" placeholder="Login">
      </div>
      <div>
        <input class="txtfield col-sm-3" type="password" [(ngModel)]="this.loginService.password" placeholder="Password" secure="true">
      </div>
      <div>
        <button type="button" class="btn btn-info button-circle col-sm-3" (click)="this.loginService.loginProcedure()">Log in</button>
      </div>
    </div>
  </ng-template>
  <!-- <ng-template ngbSlide>
        <img style="width: 100%; height: auto" src="../../assets/images/auto_dostawa.jpg">
        <div class="carousel-caption ca">
          <div class="photo col-sm-3">

            <img class="imgsvg" src="../../assets/images/logotyp_plewinski.svg">
          </div>


          <div [ngbCollapse]="warning">
            <label class="alert alert-danger col-sm-3">Please correct login or password</label>
          </div>


          <div>
            <input class="txtfield col-sm-3" type="text" [(ngModel)]="userName" placeholder="Login">
          </div>

          <div>
            <input class="txtfield col-sm-3" type="password" [(ngModel)]="password" placeholder="Password" secure="true">
          </div>

          <div>
            <button type="button" class="btn btn-info button-circle col-sm-3" (click)="loginProcedure()">Log in</button>
          </div>



        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img style="width: 100%; height: auto" src="../../assets/images/port-2942342_1920.jpg">
        <div class="carousel-caption ca">
          <div class="photo col-sm-3">

            <img class="imgsvg" src="../../assets/images/logotyp_plewinski.svg">
          </div>


          <div [ngbCollapse]="warning">
            <label class="alert alert-danger col-sm-3">Please correct login or password</label>
          </div>


          <div>
            <input class="txtfield col-sm-3" type="text" [(ngModel)]="userName" placeholder="Login">
          </div>

          <div>
            <input class="txtfield col-sm-3" type="password" [(ngModel)]="password" placeholder="Password" secure="true">
          </div>
     
          <div>
            <button type="button" class="btn btn-info button-circle col-sm-3" (click)="loginProcedure()">Log in</button>
          </div>



        </div>
      </ng-template> -->
</ngb-carousel>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <img style="width: 100%; height: auto" src="../../assets/images/fota_1-min.jpg">
    </div>
    <div class="col">
      <img style="width: 100%; height: auto" src="../../assets/images/fota_2-min.jpg">
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col">
      <img style="width: 100%; height: auto" src="../../assets/images/fota_3-min.jpg">
    </div>
    <div class="col">
      <img style="width: 100%; height: auto" src="../../assets/images/fota_4-min.jpg">
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>