<ngb-tabset activeId="2">
  <ngb-tab title="Add shipments" id="1">
    <ng-template ngbTabContent>
  <app-add-shipments></app-add-shipments>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Shipments list" id="2">
    <ng-template ngbTabContent>
      <app-list-shipments></app-list-shipments>
    </ng-template>
  </ngb-tab>
</ngb-tabset>