
  <br>
  <br>
  <label class="welcome">Welcome </label>
  <i class="fa fa-user-o logout" aria-hidden="true" (click)="this.loginService.logout()" style="cursor: pointer;" placement="top" ngbTooltip="Click to logout"></i>
  <label class="logout-text" (click)="this.loginService.logout()" style="cursor: pointer;"  placement="top" ngbTooltip="Click to logout">Logout</label>
  <br>
  <br>
  <br>
  <div class="row">

    <input class="inputStyle col-sm-3" type="text" [(ngModel)]="this.shipmentsService.shipmentNumber" placeholder="Enter the shipment number you are looking for">
    <button type="button" class="btn btn-info look" (click)="this.shipmentsService.getShipmentByShipmentNumberAndByCustomer(this.shipmentsService.shipmentNumber)">Search</button>
    <button [ngbCollapse]="this.shipmentsService.wrongStatusOfShipmentById" class="warning alert alert-danger">Ther is no given Shipment Number</button>
  

  </div>
  <div class="row">
    <input class="inputStyle col-sm-3" type="text" [(ngModel)]="this.shipmentsService.searchWord" placeholder="Enter the name or place you are looking for - minimum 3 letters">  <button  *ngIf="this.shipmentsService.searchWord.trim().length>=3"  type="button" class="btn btn-info look" (click)="this.shipmentsService.getShipmentByWordAndByCustomer(this.shipmentsService.searchWord)">Search</button>
    <button [ngbCollapse]="this.shipmentsService.wrongStatusOfShipmentByWord" class="warning alert alert-danger">Ther is no given name or place</button>
  </div>
  <br>
  <br>
  <div class="row">

    <table class="table-striped table-bordered tableStyle center">
      <thead>
        <tr class="table-active">
          <th class="ths" style="width: 11%">Loading Date</th>
          <th class="ths" style="width: 11%">Unloading Date</th>
          <th class="ths boldUpper" style="width: 15%">Name</th>
          <th class="ths boldUpper" style="width: 15%">Place</th>
          <!-- <th class="ths" style="width: 12%">Document Number</th> -->
          <th class="ths" style="width: 12%">Shipment Number</th>
          <!-- <th class="ths" style="width: 11%">Order Number</th> -->
          <th class="ths" style="width: 12%">Weight in kg</th>
          <th class="ths" style="width: 12%">Capacity in ltr</th>
          <th class="ths" style="width: 12%">Customs office</th>
          <!-- <th class="ths" style="width: 8%">Docs</th> -->
          <!-- <th class="ths" style="width: 13%">Duty Shipment Number</th> -->
        </tr>
      </thead>
      <tbody *ngIf="this.shipmentsService.shipmentsList !== null">
        <tr *ngFor="let shipment of this.shipmentsService.shipmentsList">
          <td class="ths" >{{this.dateService.dateFormatForPost(shipment.loadingDate)}}</td>
          <td class="ths" >{{this.dateService.dateFormatForPost(shipment.unloadingDate)}}</td>
          <td class="ths leftBold" >{{shipment.name}}</td>
          <td class="ths left" >{{shipment.place}}</td>
          <!-- <td class="ths" >{{shipment.documentNumber}}</td> -->
          <td class="ths" >{{shipment.shipmentNumber}}</td>
          <!-- <td class="ths" >{{shipment.orderNumber}}</td> -->
          <td class="ths" *ngIf="shipment.weightKg !== 0">{{shipment.weightKg}}</td>
          <td class="ths" *ngIf="shipment.weightKg == 0"></td>
          <td class="ths" *ngIf="shipment.capacityLtr !== 0">{{shipment.capacityLtr}}</td>
          <td class="ths" *ngIf="shipment.capacityLtr == 0"></td>
          <td class="ths">{{shipment.dutyShipment.dutyType}}</td>
          <!-- <td class="ths" >{{shipment.dutyShipmentNumber}}</td> -->
          <!-- <td class="ths" > 
            <i *ngFor="let scan of shipment.scanLink" class="fa fa-file-pdf-o fa-2x" aria-hidden="true" (click)="this.scanService.downloadFileService(scan)" style="cursor: pointer;" placement="top" ngbTooltip="Click to download"></i>
          </td> -->
          
        </tr>
      </tbody>
    </table>
  </div>




